@use "sass:map";
:root {
    font-size: 18px;
}
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 500;
$bold-weight: 700;
$black-weight: 900;

$h1-config: (
    "default": (
        "values": (
            "font": $fontFamilyHeader,
            "size": 1.778rem,
            "line-height": 2.722rem,
            "weight": $bold-weight,
            "color": $black500,
        ),
    ),
    $medium: (
        "values": (
            "size": 2rem,
            "line-height": 3.056rem,
        ),
    ),
);
$h2-config: (
    "default": (
        "values": (
            "font": $fontFamilyHeader,
            "size": 1.278rem,
            "line-height": 1.889rem,
            "weight": $normal-weight,
            "color": $black,
        ),
    ),
);
$h4-config: (
    "default": (
        "values": (
            "font": $fontFamilyHeader,
            "size": 1.111rem,
            "line-height": 1.667rem,
            "weight": $normal-weight,
            "color": $black,
        ),
    ),
);

$p-config: (
    "default": (
        "values": (
            "font": $fontFamily,
            "size": $fontSize,
            "line-height": $fontWeight,
            "weight": $fontWeight,
            "color": $textColor,
        ),
    ),
);

h1 {
    @include font-config($h1-config);
}

h2 {
    @include font-config($h2-config);
}

h3 {
    @include font-config($h4-config);
}

h4 {
    @include font-config($h4-config);
}

p {
    @include font-config($p-config);
}

// special configs below
