//fade
.fade-enter-active {
    transition: all $transitionDuration ease-out;
}

.fade-leave-active {
    transition: all $transitionDuration ease-in;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
